<div class="container mt-5">
    <div class="col-md-3">
        <h4>{{baslik}}</h4>

        <form  #kayitForm="ngForm" (ngSubmit)="Kaydet()">
            <input type="hidden" class="form-control" required name="Id" #Id="ngModel" [(ngModel)]="secKisi.Id">
           <div class="form-group">
             <label>Adı Soyadı</label>
             <input type="text" class="form-control" required name="adsoyad" #adsoyad="ngModel" [(ngModel)]="secKisi.Adsoyad"  [ngClass]="{'is-invalid': adsoyad.invalid}">
          </div>
          <div class="form-group">
            <label>Dosya</label>
            <input type="file" class="form-control" required name="dosyaadi" #dosyaadi="ngModel" [(ngModel)]="secKisi.dosyaadi"  [ngClass]="{'is-invalid': dosyaadi.invalid}">
         </div>
         <div class="form-group">
            <label>Dosya türü</label>
            <input type="text" class="form-control" required name="dosyaturu" #dosyaturu="ngModel" [(ngModel)]="secKisi.dosyaturu" [ngClass]="{'is-invalid': dosyaturu.invalid}" >
         </div>
         <div class="form-group"> 
            <input type="submit" value="kaydet" class="btn btn-success" [disabled]="kayitForm.invalid">
         </div>
        </form>
    </div>
 
<div class="col-md-7">
    <div class="table table-hover">
    <thead class="table-info">
        <th>Id</th>
        <th>Ad</th>
        <th>Dosya Adı</th>
        <th>Dosya Uzantısı</th>
        <th>Düzenle</th>
        <th>Sil</th>
    </thead>
    <tbody>
    <tr *ngFor="let kisi of kisiler">
    <td>{{kisi.Id}}</td>
    <td>{{kisi.Adsoyad}}</td>
    <td>{{kisi.dosyaadi}}</td>
    <td>{{kisi.dosyaturu}}</td>
    <td><button class="btn btn-warning" (click)="KisiDuzenle(kisi)">Düzenle</button></td>
    <td> <button class="btn btn-danger" (click)="KisiSil(kisi)">Sil</button></td>
  </tr>
    </tbody>
</div>




</div>
 
</div>